body {
  background-color: lightgrey;
}
/*light brown:f4e2be*/
h1 {
  background-color: wheat;
  text-align: center;
  padding:35px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 300%;
}

.green {
    background-color: darkseagreen;
    /*float: left;
    width: 25%;*/
    padding-top: 10px;
    padding-bottom: 100%;
    /*margin-bottom: -100%;*/
    font-size: 50%;
    font-weight: bold;
}

.green h4 {
  font-size: 225%;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: bold;
}
.green h6 {
  margin: 5px;
  color: wheat;
  margin-left: 10px;
}
.green p {
  font-size: 120%;
  color: white;
  margin: 7px;
  margin-left: 10px;
}
.content {
  font-size: 70%;
  padding-top: 10px;
  padding-left: 25px;
}
ul#pingpongresult li {
  font-size: 90%;
}

.btn {
  padding: 5px;
  font-size: 100%;
}

.form-group {
  margin: 0px;
}
